.obsidian/*
!.obsidian/plugins/
.obsidian/plugins/*
!.obsidian/plugins/vault-passport/
.obsidian/plugins/vault-passport/build/*
!.obsidian/plugins/vault-passport/build/.gitkeep
__pycache__/
*.pyc
.pytest_cache/
